html body {
    background-color: var(--black-colour);
}

:root {
    --blue-colour: #55D6BE;
    --black-colour: #131313;
    --orange-colour: #F9A03F;
}

.colourOrange {
    color: var(--orange-colour);
}

.colourBlue {
    color: var(--blue-colour);
}

.colourBlack {
    background-color: var(--black-colour);
}

a {
    position: static
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.headericon:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}